@model List<Lot>
@{
    var lots = Model;
}
<form method="get">

    <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 text-center align-content-between">

        @foreach (var item in lots)
        {

            <div class="card m-5 p-1 container-sm shadow-lg">
                <img class="card-img-top img-fluid" style="object-fit:cover;height:250px" src="@Url.Action("MegaImageRead", "Lot" , new { id = item.Id } )" />

                <div class="card-body">

                    <h5 class="card-title"> @item.Name </h5>
                    <p class="card-text"><strong>Текущая цена @item.CurrentPrice</strong></p>
                    <p class="card-text"> @item.StartTime.ToShortDateString() @item.StartTime.AddHours(3).ToShortTimeString() - @item.EndTime.ToShortDateString() @item.EndTime.AddHours(3).ToShortTimeString()</p>


                    <a class="btn btn-primary" asp-action="GetLot" asp-controller="Lot" asp-route-id="@item.Id">Подробнее</a>

                </div>
            </div>
        }

    </div>
</form>
     